<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registeration</title>
</head>
<body>
<form action = "register" method = "post">
    {% csrf_token %}
    <input type="text" name="first_name" placeholder="First Name"><br>
    <input type="text" name="last_name" placeholder="Last Name"><br>
    <input type="text" name="username" placeholder="User Name"><br>
    <input type="text" name="pasword1" placeholder="Pasword"><br>
    <input type="password" name="pasword2" placeholder="Confirm Pasword "><br>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="submit" ><br>

    </form>
</body>
</html>